.titleStyling {
    font-size: 20px;
    font-family: cursive;
    font-weight: initial;
    text-align: center;
    color:red;
    scroll-behavior: smooth;
}

.vsSize {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0px 60px 0px 30px;
    size: 15px 15px 15px 15px;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/37/82/85/1000_F_537828583_hpeQo9A1jXMSzD9O6e9SoHrs2Y9bwYKK.jpg'); /* <--- Replace with your image path */
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
.modal-content {
   
    margin: 20%;
   font-size: 80%;
    background-image: url('path/to/your/content-box-image.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    color: black; 
}

